
QueroSerMB/QueroSerMB.xcodeproj/xcuserdata/guilherme.costa.xcuserdatad/xcschemes/xcschememanagement.plist

QueroSerMB/QueroSerMB.xcodeproj/xcuserdata/guilherme.costa.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

QueroSerMB/QueroSerMB.xcodeproj/project.xcworkspace/xcuserdata/guilherme.costa.xcuserdatad/UserInterfaceState.xcuserstate

QueroSerMB/QueroSerMB.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
